{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% if form.errors %}
  <div class="alert alert-danger">
    {% for field in form %}
      {% for error in field.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}


<form method="post" style="border:none; box-shadow:none;">
  <div class="imgcontainer">
    <img src="{% static 'img/images.png'%}" alt="Avatar" class="avatar" style="width: 120px; height: 120px;">
  </div>
<div class="container">
    {% csrf_token %}
    <label for="uname"><b>Username</b></label>
     {{ form.username }}

    <label for="psw"><b>Email</b></label>
    {{ form.email }}

    <label for="psw"><b>Password</b></label>
    {{ form.password }}

    <label for="psw"><b>Repeat your password</b></label>
    {{ form.password2 }}

    <button type="submit">Register new user</button>
  </div>  



</html>
{% endblock %}